= form_for @meal_plan do |form|
  = render "shared/error_messages", :target => @meal_plan

  = form.hidden_field :user_id, :value => current_user.id

  %section
    %h3= form.label :name, "Give this meal plan a name"
    = form.text_field :name

  %section
    = label_tag :current_meal_plan, 'Make this your current meal plan'
    = check_box_tag :current_meal_plan, 'yes', current_meal_plan?(@meal_plan) || @meal_plan.new_record?

  %section
    %h3 Planned meals
    - if @meal_plan.planned_meals.empty?
      %p You don't have any meals in this plan yet.  Find a recipe you like and add it.
    - else
      %ul
        - @meal_plan.planned_meals.each do |planned_meal|
          %li= planned_meal.recipe.name

  %section
    = form.submit submit_text

