.meal_plan
  %h2= "Plan for #{@meal_plan.name}"

  - @meal_plan.planned_meals.each do |planned_meal|
    .planned_meal{ :id => "#{planned_meal.day}" }
      %h3= planned_meal.day
      .recipe= planned_meal.recipe.name
