.meal_plan
  %h2= @meal_plan.name

  - @meal_plan.planned_meals.group_by(&:day).each do |day, planned_meals|
    .planned_day{ :id => "#{day}" }
      %h3= day
      %ul
        - planned_meals.each do |planned_meal|
          %li.recipe
            = planned_meal.recipe.name
            = link_to 'Suggest Another', suggest_meal_plan_planned_meal_path(@meal_plan, planned_meal)