%h1 What ingredients do you have?
= form_for @recipe_finder do |form|
  = form.text_field :ingredient, :class => 'autocomplete', 'data-autocomplete-url' => autocomplete_for_ingredient_name_recipe_finders_path
  = form.submit "Find recipes"

- if @recipe_finder.ingredients.blank?
  %h2 Without ingredients, there's not much you can make!

- else
  %h2 With these ingredients:
  %ul 
    - @recipe_finder.ingredients.each do |ingredient|
      %li.finder_ingredient
        %p
          =ingredient.name
          %span=button_to 'remove', recipe_finder_finder_ingredient_path(@recipe_finder, ingredient), :method => :delete, :title => 'remove'
 
  - if @recipe_finder.recipes.blank?
    %h3 unfortunately we don't have any suggestions for you

  - else
    %h3
      you could make
      = @recipe_finder.recipes.count
      recipes:
    %ul
      - @recipe_finder.recipes.each do |recipe|
        %li= link_to recipe.name, recipe_path(recipe)
