= javascript_include_tag "wmd/showdown.js"

= form_for @recipe do |form|
  = render "shared/error_messages", :target => @recipe

  %p
    %h3= form.label :name, "Enter the name of the recipe"
    = form.text_field :name

  %h3 Ingredients
  .ingredients
    %table
      %tr
        %th Amount
        %th Unit
        %th Name
      = form.fields_for :ingredient_amounts do |ingredient_amount_form|
        = render "ingredient_amount_fields", :builder => ingredient_amount_form
    = link_to_add_fields "Add an ingredient", form, :ingredient_amounts

  %h3= form.label :directions, "Enter the directions"
  #wmd-button-bar
  = form.text_area :directions, :id => "wmd-input"
  #wmd-preview

  %p
    = form.submit submit_text

= enable_wmd :buttons => "bold italic ol ul heading hr"
