.actions= link_to 'Discard edits', recipe_path(@recipe)

= form_for @recipe do |form|
  %p
    = form.label :name, 'Enter the name of the recipe'
    %br
    = form.text_field :name

  %p
    = form.label :directions, 'Enter the directions'
    %br
    = form.text_area :directions

  %p
    = form.submit 'Save edits'
