.recipe
  .actions
    =link_to 'Edit this recipe', edit_recipe_path(@recipe)

  %h2= @recipe.name

  .ingredients
    %h3 Ingredients
    %ul
      - @recipe.ingredient_amounts.each do |ingredient_amount|
        %li= "#{ingredient_amount.amount} #{ingredient_amount.unit} #{ingredient_amount.ingredient.name}"
        
  .directions
    %h3 Directions
    %p= @recipe.directions
