- define_actions 'Edit this recipe' => edit_recipe_path(@recipe)

%section#recipe
  %h2= @recipe.name
  %p= @recipe.description

  %section#ingredients
    %h3 Ingredients
    %ul
      - @recipe.ingredient_amounts.each do |ingredient_amount|
        %li= "#{ingredient_amount.amount} #{ingredient_amount.unit} #{ingredient_amount.ingredient.name}"
        
  %section#directions
    %h3 Directions
    :markdown
      #{@recipe.directions}
