- form_for @ingredient do |form|
  = form.label :name, 'Enter the name of the ingredient'
  = form.text_field :name, :id => :name
  = error_message_on :ingredient, :name

  = form.submit 'Submit'

= set_focus_to_id 'ingredient_name'