= form_for @ingredient do |form|
  = render "shared/error_messages", :target => @ingredient

  = form.label :name, 'Enter the name of the ingredient'
  = form.text_field :name, :id => :name

  = form.submit 'Submit'
