%h1 User List

%table
  %thead
    %tr
      %th Username
      %th Email
      %th Signed In
      %th Sign ins
      %th Invitations
      %th
  %tbody
    - @users.each do |user|
      %tr
        %td= link_to user.username, edit_admin_user_path(user)
        %td= user.email
        %td= l user.current_sign_in_at.getlocal if user.current_sign_in_at
        %td{:align => :center}= user.sign_in_count
        %td{:align => :center}= user.invitations
        %td
          %span=button_to 'remove', admin_user_path(user), :method => :delete, :title => 'remove', data: { confirm: "Remove #{user.username}?" }
