= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :post } do |form|
  = devise_error_messages!
  %section
    %h2= form.label :email, "Enter your friend's email address"
    = form.text_field :email

  %section
    = form.submit "Send invitation to your friend"
