!!! XML
!!!
%html
  %head
    %meta{ :charset => "utf-8" }
    %title OhMabel!
    = stylesheet_link_tag 'style'
    = google_jquery
    = csrf_meta_tag

  %body
    .content
      .rside
        .topmenu
          - if user_signed_in?
            = link_to "Sign out", destroy_user_session_path
          - else
            = link_to "Sign up", new_user_registration_path
            or
            = link_to "Sign in", new_user_session_path

        .menu
          %h2 General
          .nav
            %ul
              %li= link_to 'Home', root_path
              %li= link_to 'About', about_path
              %li= link_to 'Contact', 'http://ohmabel.uservoice.com/forums/81175', :class => 'contact_us'
          - if user_signed_in?
            %h2 My Features
            .nav
              %ul
                %li= link_to 'Recipe Book', recipes_path
                %li= link_to 'Recipe Finder', new_recipe_finder_path
   
      .lside
        .topmenu
          = link_to 'About', about_path
          | 
          = link_to 'Contact', 'http://ohmabel.uservoice.com/forums/81175', :class => 'contact_us'
          - if user_signed_in?
            .current_user
              = "Signed in as #{current_user.username}. "
        .header
          .padding
            %h1 OhMabel!
            .tagline ease the pain of conjuring daily meals
            .flash
              - flash.each do |name, msg|
                = content_tag :div, msg, :id => "flash_#{name}", :class => "message"

        .main
          = yield

        /
          .infobox
            .r_sd
              %h2 Newest Users
              %img{ :src => '../images/arrow.gif', :alt => '' } User1
              %br
              %img{ :src => '../images/arrow.gif', :alt => '' } User2
            .l_sd
              %h2 Newest Recipes
              %img{ :src => '../images/arrow.gif', :alt => '' } Recipe1
              %br
              %img{ :src => '../images/arrow.gif', :alt => '' } Recipe2
            
      .footer
        Copyright &copy; 2010 Bryan Ash

    = set_focus_to_first_field
    = add_uservoice_form
