!!!
%html
  %head
    %meta{ :charset => "utf-8" }
    %title OhMabel!
    = google_jquery
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag 'style', 'wmd', 'jquery.autocomplete'
    = csrf_meta_tag

  %body
    %header
      %nav
        - if demo_mode_active?
          = link_to "Sign in", new_user_session_path
          / 
            or
            = link_to "Sign up", new_user_registration_path
        - else
          = link_to "Sign out", destroy_user_session_path
          - if anybody_signed_in?
            or
            =link_to 'Edit account', edit_user_registration_path
      %section
        %section
          = current_user.try(:signed_in_message)
        %nav
          = link_to 'Home', root_path
          | 
          = link_to 'Contact', 'http://ohmabel.uservoice.com/forums/81175', :class => 'contact_us'

      %hgroup
        %h1= link_to "OhMabel!", root_path
        %h6= link_to "ease the pain of conjuring daily meals", root_path

      .flash
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}", :class => "message"

    %menu
      %nav
        = render_menu meal_plans_menu
        = render_menu recipes_menu

    %article
      = yield

    %footer
      %section
        %h1 Newest Recipes
        - @recently_added_recipes.each do |recipe|
          %img{ :src => '/images/arrow.gif', :alt => '' }
          = link_to recipe.name, recipe_path(recipe)
          %br
      %section
        %h1 Recently Edited Recipes
        - @recently_edited_recipes.each do |recipe|
          %img{ :src => '/images/arrow.gif', :alt => '' }
          = link_to recipe.name, recipe_path(recipe)
          %br
      %section
        Copyright &copy; 2011 Bryan Ash

  = javascript_include_tag "active_form.js", "analytics.js", "jquery.autocomplete.js", "autocomplete-hook.js", "uservoice"
